# Database
DATABASE_URL=postgresql://user:password@localhost:5432/db

# ZAuth & ZDrive (Authentication & Media)
ZAUTH_SECRET=
NEXT_PUBLIC_ZAUTH_KEY=
ZDRIVE_KEY=
ZDRIVE_SECRET=
NEXT_PUBLIC_ZDRIVE_ROOT=

# Application
JWT_SECRET=
APP_CONFIG_ENCRYPTION_KEY=
NEXT_PUBLIC_URL=http://localhost:3000

# SMTP (Email)
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=

# Deployment (Docker)
# Set to true to run migrations on container start
RUN_DATABASE_MIGRATIONS=false
